body {
	text-align: center;
    background-color: #2b2a33;
	font-family: 'Courier New', Courier, monospace;
}

.container {
	padding: 20px;
}

.box {
	margin: auto;
	background-color: black;
	padding: 10px;
	border-radius: 10px;
	width: 400px;
}

#glist {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 400px;
	height: 500px;
	padding: 0;
	text-align: center;
}

#gsearchbar {
	outline: none;
	width: 355px;
	height: auto;
	font-size: 15.5px;
	border: 1px solid #7ee3fa;
	border-radius: 25px;
	border-color: #2b2a33;
	padding: 15px;
	margin-bottom: 10px;
	transition: all .5s ease-in-out;
	font-family: "Roboto";
	background: #2b2a33;
}

#gsearchbar:focus {
	background-color: #7ee3fa;
	box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#glist h2 {
	display: block;
	color: #7ee3fa;
	font: 20px;
	border: 1px solid #060606;
	border-radius: 10px 10px 0px 0px;
	margin: 5px 0 0 0;
	background-color: #000000;
	padding: 15px;
	font-weight: bold;
	user-select: none;
}

#glist a {
	display: block;
	text-decoration: inherit;
	color: #7ee3fa;
	font-size: 15px;
	border: 1px solid #2b2a33;
	margin-top: -1px;
	background-color: #2b2a33;
	padding: 15px;
	transition: 0.5s ease;
}

#glist a:hover {
	background-color: grey;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.back a {
    color: #7ee3fa;
    display: block;
    float: left;
    font-size: 15px;
    padding: 15px 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid #7ee3fa;
    border-color: #7ee3fa;
	transition: 1s;
}

.back i {
    color: #7ee3fa;
    display: block;
    float: left;
    margin-left: 25px;
    font-size: 30px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
}

.back i:hover {
    cursor: pointer;
}

.back a:hover {
    cursor: pointer;
	background-color: #7ee3fa;
	color: black;
}